@font-face {
  font-family: 'JetBrainsMono-Variable';
  src: url('../fonts/JetBrainsMono-Variable.woff2') format('woff2'),
       url('../fonts/JetBrainsMono-Variable.woff') format('woff'),
       url('../fonts/JetBrainsMono-Variable.ttf') format('truetype');
  font-weight: 100 800;
  font-display: swap;
  font-style: normal;
}